@{
    Layout = null;
}
@model WebApp.Models.Login.FormLoginModel
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
    <LINK rel='StyleSheet' type='text/css' href='~/Content/css/bootstrap.min.css'>
    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script>
        // 画面初期処理
        var isSubmitted = false;
        var mode = -1;

        $(document).ready(function () {
            $('#txtLoginId').focus();

            // ログインボタン押下
            $('#btnLogin').on('click', function () {
                //$('#errMsgModalContent').html('ログインIDを入力してください。');
                //$('#errMsgModalContent').html('パスワードを入力してください。');

                // 連打制御
                if (isSubmitted) {
                    return;
                }
                isSubmitted = true;
                document.forms[0].submit();
            });

            // クリアボタン押下
            $('#btnClear').on('click', function () {
                $('#txtLoginId').val('');
                $('#txtPassword').val('');
                $('#txtLoginId').focus();
            });

            // モーダル画面閉じるボタン押下
            $('#errMsgModalCloseBtn').on('click', function () {
                $('#errMsgModal').modal('hide');
                if (mode == 1) {
                    $('#txtLoginId').focus();
                } else {
                    $('#txtPassword').focus();
                }
            });
        });
    </script>
    <style>
        .custom-bg {
            background-color: #00c0f0; /* カスタム色 (黄色) */
        }
    </style>
</head>
<body>
    <div class="container body-content">
        @using (Html.BeginForm("Index", "TEKITOO", FormMethod.Post))
        {
            <form action="Index" id="form" method="post">
                <div class="d-flex justify-content-center align-items-center" style="height:60vh;">
                    <div class="border rounded p-3 col-6">
                        <div class="form-group row py-4">
                            <div class="offset-3 col-6  rounded custom-bg text-center"><h4>顧客管理システム</h4></div>
                        </div>

                        <div class="form-group row py-2">
                            <div class="offset-3 col-2 text-end">ログインID</div>
                            <div class="col-4">
                                @Html.TextBoxFor(m => m.LoginID, new { @class = "form-control", id = "txtLoginId" })
                                @Html.ValidationMessageFor(m => m.LoginID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row py-2">
                            <div class="offset-3 col-2 text-end">パスワード</div>
                            <div class="col-4">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "txtPassword" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row py-3">
                            <div class="offset-3 col-3 text-center">
                                <button type="button" class="btn btn-primary col-8" id="btnLogin">ログイン</button>
                            </div>
                            <div class="col-3 text-center">
                                <button type="button" class="btn btn-secondary col-8" id="btnClear">クリア</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- エラーメッセージモーダル-->
                <div class="modal" id="errMsgModal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="errMsgModalTitle">エラー</h5>
                            </div>
                            <div class="modal-body alert alert-danger" role="alert">
                                <label id="errMsgModalContent">エラーメッセージ</label>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" id="errMsgModalCloseBtn">閉じる</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 確認モーダル -->
                <div class="modal fade" id="confirmModal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmModalTitle">確認</h5>
                            </div>
                            <div class="modal-body">
                                <label id="confirmModalContent">確認メッセージ？</label>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default col-2" id="confirmModalCloseBtn">いいえ</button>
                                <button type="button" class="btn btn-primary col-2" id="confirmModalSubmitBtn">はい</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        }
    </div>
</body>
</html>
